Repository dhersz/dhmisc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mod-readme-rmd-rendered, mod-codemeta-description-updated, forbid-to-commit

mod-readme-rmd-rendered:
  name: mod-readme-rmd-rendered
  entry: inst/bin/mod-readme-rmd-rendered
  language: script

mod-codemeta-description-updated:
  name: mod-codemeta-description-updated
  entry: inst/bin/mod-codemeta-description-updated
  language: script

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .Rdata, .csv and .rds.
  language: fail

updates readme
  DESCRIPTION
  README.Rmd
  README.md
  codemeta.json
Due: mod-readme-rmd-rendered, mod-codemeta-description-updated

updates version-bumped hook
  DESCRIPTION
  codemeta.json
  inst/bin/version-bumped
Due: mod-codemeta-description-updated

makes scripts executable
  inst/bin/mod-codemeta-description-updated
  inst/bin/mod-readme-rmd-rendered
  inst/bin/version-bumped
Due: none

bumps version
  DESCRIPTION
  codemeta.json
Due: mod-codemeta-description-updated

added new function! brazil_rapid_transit()
  DESCRIPTION
  NAMESPACE
  R/brazil_rapid_transit.R
  R/dhmisc.R
  README.Rmd
  README.md
  codemeta.json
  man/brazil_rapid_transit.Rd
Due: mod-readme-rmd-rendered, mod-codemeta-description-updated

Path conditions:
  mod-readme-rmd-rendered: any of: README\.[Rr]?md$
  mod-codemeta-description-updated: any of: ^DESCRIPTION$
  forbid-to-commit: any of: \.Rhistory|\.csv|\.RData|\.Rds|\.rds$
